/* Colors:


Teal color (used for headings and backgrounds): #4aaaa5

Regular font color (used for paragraphs and all text besides the headings): #777777

Main header background color: #ffffff

Main header border color: #cccccc

Footer background color: #666666

Main content background color: #ffffff

Main content border color: #dddddd




Fonts:


For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;.
For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;. */

html{
    height:100%;
    background-image: url("../images/background2.png");
}

body{
    /* 
     */
    /* border-style: outset; */
}

/* #navDiv{
    width: 75%;
    height: auto;
    margin: auto;
} */

#mainContent{
    width: 960px;
    margin: auto;
}

header{
    width: 50%;
    float: left;
}

h1{
    /* color: #7CC6FE; */
    /* float: left;
    width: 50%;  */
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Georgia', Times, Times New Roman, serif;
}

a{
    text-decoration: none;
}

nav{
    float: left;
    width: 50%;
}

ul{
    list-style-type: none;
    float: right;
  }

li{
    display: inline;
}
  

.clearfix::after {
    content:""; 
    display: block;
    clear: both;
} 
